/* Setup, Resets & Variables */
@import "logo";
@import "compass/reset";
@import url("//fnt.webink.com/wfs/webink.css/?project=D62793EE-0259-482E-87C2-97C8FD454213&fonts=BF522E13-B921-2C59-5FD3-9D3C689FC32B:f=Theinhardt-LightIta,82DA4627-8191-9CE4-706C-58F3C2615A95:f=Theinhardt-Bold,008579D7-00D8-1E34-1306-843EC6BC82EA:f=Theinhardt-Light,8B459781-89CC-B7EA-6A87-7EC561303F45:f=Theinhardt-BoldIta,BA766C3D-9F83-4950-AFCD-AD9F2BF5CEAB:f=Theinhardt-Regular,DC84A178-A66C-DB8D-5140-7E5BF64AB28F:f=Theinhardt-RegularIta");
/*
Theinhardt-Light
Theinhardt-LightIta
Theinhardt-Regular
Theinhardt-RegularIta
Theinhardt-Bold
Theinhardt-BoldIta
*/

$pink: #C227B9;
$grey: #888888;
$lgrey: #999999;

::selection { background: lighten($pink, 45%); }
::-moz-selection { background: lighten($pink, 45%); }

*, *:after, *:before { margin: 0px; padding: 0px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body {  font: 17px/24px 'Theinhardt-Light','Gill Sans', sans-serif; -webkit-font-smoothing: antialiased; }
a { text-decoration: none; }

.main-content {
  background: #fff;
  overflow: hidden;
  min-height: 1000px;
}

.wrapper {
  position: relative;
  padding: 0 8%;
  padding-bottom: 60px;
  margin: 0 auto;
  z-index: 9999;
  @media all and (max-width: 1200px) {
    padding: 0 50px;
  }
}

/* Grid */

[class*='col-'] { float: left; &:last-of-type { float: right;} }
.row { width: 100%; }
.col-1 { width: 100%; }
.col-2 { width: 50%; }
.col-3 { width: 33.3333333333%; }
.col-4 { width: 25%; }
.col-5 { width: 20%; }
.col-6 { width: 16.6666666667%; }
.col-7 { width: 10%; }


/* Page style below */

header {
  height: 280px;
  padding: 60px 0px;
}
.scroll-down { 
  position: fixed;
  bottom: 50px;
  width:150px;
  display: block;
  left:50%;
  transform:translate(-75px, 0);
  text-align: center;
  text-transform: uppercase;
  color:#fff;
  padding: 10px;
  transition: all ease 0.2s;
  &:hover {
  transform:translate(-75px, 3px);
  }
}

.main-nav, footer {
  ul li {
    list-style: none;
  }
}

.main-nav {
  display: table-cell;
  vertical-align: middle;
  height: 140px;
  font-weight: normal;
  letter-spacing: 1px;
  padding-left: 40px;
  ul li {
    margin-right: 10px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background:$pink;
      left:0px;
      top:23px;
      transition: all ease 0.2s;
      opacity: 0;
    }
    &:hover:after {
      opacity: 1;
    }
  }
  a { color: $lgrey; }
  a.active:after { content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background:$pink;
      left:0px;
      top:23px;
      transition: all ease 0.2s; opacity: 1; }
}

.flower-image {
  position: relative;
  //min-width: 320px;
}
a .details { color:#000; }
.details {
  position: absolute;
  background: rgba(255,255,255,1);
  text-align: center;
  padding: 15px;
  top:0px;
  width:220px;
  height:220px;
  left:calc(50% - 110px);
  top:calc(50% - 125px);
  display: table;
  transition:all ease 0.3s;
  div, span, h2, p { display: table-cell; vertical-align: middle; }
  .title { background:rgba(255,0,0,0); width:100%; height:50%; display: table; transition:all ease 0.3s; }
  hr { background:$grey; height:1px; border: none; }
  .price { background:rgba(0,0,255,0); width:100%; height:50%; display: table; color: $lgrey; transition:all ease 0.3s;  }
  &.hide { opacity: 0;
    .title, .price { height:45%; }
  }
  &:hover { 
    //hr { background:$pink; }
  }
}

h2, p {
  font: 17px/24px 'Theinhardt-Light','Gill Sans', sans-serif;
  letter-spacing: 0.5px;
}

footer {
  background-color: #eee;
  padding: 60px 20px 20px 20px;
  height: 200px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1.5px;
  font-weight: normal;
  line-height: 22px;
  a {
    color: #666;
  }
}

.social {
  font-size: 13px;
  text-transform: none;
  ul li { display: inline-block; padding: 10px 20px 10px 10px; position: relative; }
  ul li a { transition:all ease 0.2s; }
  ul li:first-child a::before { transition:all ease 0.2s; content: ' '; display: block; position: absolute; margin-left:-15px; left:0; border-radius: 3px; background:$lgrey url('../images/social.png') 0 0 no-repeat; width: 20px; height:20px;  }
  ul li:nth-child(2) a::before { transition:all ease 0.2s; content: ' '; display: block; position: absolute; margin-left:-15px; left:0; border-radius: 3px; background:$lgrey url('../images/social.png') -20px 0 no-repeat; width: 20px; height:20px;  }
  ul li a:hover { 
    &::before { background-color: $pink; transition:all ease 0.2s; border-radius: 10px; }
  }
}

.flower-image img {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
}

.secondary-nav {
  padding-right: 30px;
}

.logo {
  margin-top: -20px;
  min-width: 300px;
}

.logo, .logo-footer {
  text-align: center;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left !important;
}

.clear-left {
  clear: left;
}

/* Dropdown */
div.dropdown {
  position: relative;
  top: 45px;
}

$width: 15em;
$height: 3em;
$ajust: 1.5em;

.dropdown {
  width: $width;
  margin: 0 auto;
  color: #888;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 1em;
  & > li { padding-right: 40px; }
  li { list-style-type: none; 
    a {
        display: block;
        height: $height;
        width: 100%;
        background: #f2f2f2;
        text-decoration: none;
        padding: 0 $ajust;
        line-height: $height;
        cursor: pointer;
        color: $grey;
        &:hover, &:active {
        }
      }
  }
  a.drop {
    border-radius: 3px;
    span {
      display: inline-block;
      width: 15px;
      height: 15px;
      float: right;
      margin-top: 10px;
      border-bottom: 1px solid $grey;
      border-right: 1px solid $grey;
      transform: rotate(45deg);
      transition: all ease .2s;
      &.down {
        transform: rotate(225deg) translate(-5px, -5px);
      }
    }
  }
  .menu {
    &.open {
      display: block;
    }
    &.closed {
      display: none;
    }
    li {
      display: block;
      color: red;
     }
  }
}

article {
  display: inline-block;
  width: 60%;
  margin-left: 15%;
  left: 5%;
  padding-bottom: 30px;

  .title {
    width: 20%;
    padding-right: 20px;
    float: left;
  }

  h2 {
    font: 17px/24px 'Theinhardt-Bold','Gill Sans', sans-serif;
    letter-spacing:0.5px;
    color: $pink;
    padding-bottom: 7px;
  }

  h3 {
    font: 17px/24px 'Theinhardt-Regular','Gill Sans', sans-serif;
    letter-spacing:0.5px;
    color: $grey;
    display: block;
    width: 130px;
  }


  p, img {
  width: 80%;
  float: right;
  margin-bottom: 24px;
  }

a {
  color: #000;
  letter-spacing: 0.5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: solid 1px $lgrey;
}


.profile {
  padding-bottom: 30px;
  display: inline-block;
}

.contact-wrap {
  width: 80%;
  display: inline-block;
  float: right;
  
  p {
    float: left;
    width: 100%;
  }
  h3 { 
    color:$pink;
  }
  a { color:#000; border: none; }

}

.contact-one { 
  display: inline-block;
  float: left;
  width: 60%; 
  padding-right: 30px; 
}
.contact-two { 
  display: inline-block;
  float: left;
  width: 40%; 
}

}


.contact-wrap {
  
  ul li {
     h3 { font-size: 16px; margin-bottom: 0px; } 
     p { font-size: 16px; margin-bottom: 12px; }
    }

}

.option {
  text-transform: none;
  font-weight: lighter;
}

.selected {
  font-weight: normal;
}

// slider

#slideshow {
  position: relative;
  height: 350px;
  z-index: -1;
  overflow: hidden;
}

#slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  opacity: 0;
  &.active {
    z-index: 10;
    opacity: 1;
  }
  &.last-active {
    z-index: 9;
  }
}

#slideshow img {
  /* Set rules to fill background */
  /* Set up proportionate scaling */
  width: auto;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}


// map

#map-canvas { height: 600px; margin-bottom: 90px; }


// single product template

.images { padding: 0 50px 0 0; }

.swipe { overflow: hidden; visibility: hidden; position: relative; }
.swipe-wrap { overflow: hidden; position: relative; 
  img { min-width: 100%; width:100%; }
}
.swipe-wrap > div { float:left; width:100%; position: relative; }
#oneswipe, #twoswipe { width: 80%; float:right;
  img { width: inherit; min-width: inherit; margin-bottom: 15px; }
}

#slidecount { margin-top: 20px;
  &.slideone, &.slidetwo { margin-top: 0px; margin-bottom: 20px; width: 80%; margin-left: 20%; }
li { cursor: pointer;
  display: inline-block; margin: 0 7px 0 0; border-radius: 7px; width: 14px; height:14px; background:#e6e6e6;
  &.on { background:$grey; }
}

}


.info { padding: 0px 7% 0px 5%;
  h2 { 
    color:$pink;
    font: 17px/24px 'Theinhardt-Bold','Gill Sans', sans-serif;
  }
  p { padding-bottom: 10px; letter-spacing: 0; }
}
.table { padding:20px 0;
  label { 
    display: inline-block; 
    padding:5px 0; 
    color:$pink;
    min-width: 100px; 
    font: 15px/22px 'Theinhardt-Bold','Gill Sans', sans-serif;
    margin-bottom: 10px;
  }
  input { 
    outline: none; 
    border:none; 
    background:#e6e6e6; 
    padding: 10px; 
    margin-bottom: 10px; 
    width: 100px;
    text-align: center;
    border-radius: 3px;
  }
  input[type='submit'] {
    background:$pink;
    color:#fff;
    transition:all ease 0.2s;
  }
  input[type='submit']:hover{ 
    background: $grey;
    cursor: pointer;
  }
}

@media all and (max-width: 960px) {
  .wrapper { padding:0 20px; }
  .main-nav ul li { display: block; }
  header div.col-3:first-child {width:25%;}
  .dropdown { width: 30%;
    span { opacity: 0; }
  }
  article.about, article.contact { width: 70%; margin-left: 7%; }
  #guts .col-3 { width: 50%; }
}

@media all and (max-width: 723px) {
  .dropdown { display: none; }
  .main-nav ul li { display: inline-block; }
  header { padding-top: 20px;
    .main-nav { height:40px; padding: 0; display: inline-block; }
    div.logo { width: 100%; }
    div.col-3:first-child { width:100%; text-align: center; }
  }
  .flower-image img { padding-bottom: 0px; }
  .details.hide { position:relative; opacity: 1; padding-top: 0px; height:100px; padding-bottom: 25px; }
  .product { padding: 0 40px;
    .images { padding: 0; margin-bottom: 20px; }
    .col-2 { width:100%; }
  }
}

@media all and (max-width: 600px) {
  #guts .col-3 { width: 100%; }
  .logo-animate { display: none; }
  .secondary-nav { padding-right: 0; }
  footer .col-6 { width:30%;
    .pull-right { float:left; }
  }
  article.about, article.contact { width: 90%; }
  article .title { width: 100%; }
  article p, article img { width: 100%; }
  #oneswipe, #twoswipe { width: 100%; float: left; }
  #slidecount.slideone, #slidecount.slidetwo { margin-left: 0; }
  article .contact-wrap, article .contact-one, article .contact-two { width: 100%; }
  #map-canvas { height: 300px; }
  .product { padding: 0 30px;
    .info { padding:0; }
  }  
}

@media all and (max-width: 450px){
  header div.logo { margin-left:-20px; }
  .product { padding: 0 10px;
    .info { padding:0; }
  } 
}